.ig{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./main-background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.page-wraper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    /* overflow-y: scroll; */
}

.block-header{
        width: 99.8%;
        height: 95px;
        background-color: white;
        margin: 0px;
        padding: 0px;
        position: relative;
        
}
.header-image{
    width: 25%;
    height: 94px;
    
    position: absolute;
    left: 0%;
}
.header-image img{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.header-right{
    width: 20%;
    height: 94px; 
  
    position: absolute;
    right: -0.1%;
}
.button{
    display: inline-block;
    width: 50%;
    height: 60%;
    border: 1px goldenrod solid;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
.header-menu{
    height: 94px;
    color: blue;
    font-weight: 900px;
    position: absolute;
    left: 25.1%;
    right: 20%;
    
}
ul.menu{
    padding-right: 50px;
    list-style: none;
    
    margin: 0px;
    
}
ul.menu > li {
    float: right;
    position: relative;
}
ul.menu > li > a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0px 20px;
    line-height: 95px;
    display: block;
    border-top: 1px rgb(238, 238, 238) solid;
    
}
ul.menu > li > a:hover{
    color: blueviolet;
   
}
ul.submenu{
    display: none;
    line-height: 30px;
    position: absolute;
    left: 10px;
    transform: translateX(-50px);
    color: #262F5A;
    list-style: none;
}
ul.menu > li:hover ul.submenu{
    display: block;
}
ul.submenu > li{
  width: 200px;
}
ul.submenu > li > a{
    text-decoration: none;
    padding: 2px 0 1px 15px;
    display: block;
    line-height: 30px;
    color: #262F5A;
    border-bottom: 1px rgb(238, 238, 238) solid;
    box-sizing: border-box;
    background-color: beige;
    position: relative;
    left: 0px;
}

ul.submenu-1{
    display: none;
    line-height: 30px;
    position: absolute;
    left: 0px;
    transform: translate(200px,-30px);
    color: #262F5A;
    list-style: none;
}
ul.submenu > li:hover ul.submenu-1{
    display: block;
}

ul.submenu-1 > li{
    width: 200px;
    position: relative;
    
}
ul.submenu-1 > li > a{
    text-decoration: none;
    color: rgb(30, 30, 99);
    line-height: 30px;
    display: block; 
    padding: 2px 0 1px 15px;
    box-sizing: border-box;
    background-color: beige;
    border-bottom: 1px rgb(238, 238, 238) solid;
}
