.ig {
    width: 965px;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(./main-background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.page-wraper {
    width: 965px;
    height: 100%;
    box-sizing: border-box;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    /* overflow-y: scroll; */
}
/*--------------------------------------header---------------------------------------------*/
.block-header {
    width: 99.8%;
    height: 95px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.header-image {
    width: 25%;
    height: 94px;
    position: absolute;
    left: 0%;
}

.header-image img {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.header-right {
    width: 20%;
    height: 94px;
    position: absolute;
    right: -0.1%;
}

.button {
    display: inline-block;
    width: 50%;
    height: 60%;
    border: 1px linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) solid;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 55px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
/*----header-menu-------*/
.header-menu {
    height: 84px;
    color: blue;
    font-weight: 900px;
    position: absolute;
    left: 25.1%;
    right: 20%;
}

ul.menu {
    padding-right: 50px;
    list-style: none;
    position: relative;
    margin: 0px;
}
.horizontal-arrow img {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.arrow-down img {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 4px;
    top: 43px;
}

ul.menu>li {
    float: right;
    position: relative;
}

ul.menu>li>a {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 0px 20px;
    line-height: 95px;
    display: block;
    border-top: 1px rgb(238, 238, 238) solid;
}

ul.menu>li>a:hover {
    color: blueviolet;
}

ul.submenu {
    display: none;
    line-height: 30px;
    position: absolute;
    left: 10px;
    transform: translateX(-50px);
    color: #262F5A;
    list-style: none;
}

ul.menu>li:hover ul.submenu {
    display: block;
}

ul.submenu>li {
    width: 200px;
}

ul.submenu>li>a {
    text-decoration: none;
    padding: 2px 0 1px 15px;
    display: block;
    line-height: 30px;
    color: #262F5A;
    border-bottom: 1px rgb(238, 238, 238) solid;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    left: 0px;
}

ul.submenu-1 {
    display: none;
    line-height: 30px;
    position: absolute;
    left: 0px;
    transform: translate(200px, -34px);
    color: #262F5A;
    list-style: none;
}

ul.submenu>li:hover ul.submenu-1 {
    display: block;
}

ul.submenu-1>li {
    width: 200px;
    position: relative;
}

ul.submenu-1>li>a {
    text-decoration: none;
    color: rgb(30, 30, 99);
    line-height: 30px;
    display: block;
    padding: 2px 0 1px 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px rgb(238, 238, 238) solid;
}
/*---------------------Banner--------------------------------------------------------------*/
.Block-banner {
    width: 965px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
/*--------------------------Banner-1------------------------------------*/
.banner-1 {
    position: relative;
    width: 965px;
    height: 700px;
    margin: 0px;
    padding: 0px;
}

.man-one {
    position: absolute;
    left: 850px;
    top: -50px;
}

.on-man-one {
    position: absolute;
    left: 700px;
    top: -50px;
}

.banner-1-content {
    width: 650px;
    height: 500px;
    margin-top: 150px;
    margin-left: 100px;
}

.content-1 {
    font-size: 20px;
    font-weight: bold;
    color: red;
    padding-left: 50px;
    padding-top: 10px;
}

.content-2 {
    font-size: 60px;
    font-weight: bold;
    color: black;
    padding-left: 48px;
    padding-top: 20px;
}

.content-3 {
    padding-left: 48px;
    padding-top: 30px;
}

ul.content-4 {
    padding-left: 50px;
    text-decoration: none;
    list-style: none;
}

ul.content-4 li img {
    width: 35px;
    height: 35px;
}

.content-5 {
    position: relative;
    padding: 0px;
}

.content-5-button {
    display: inline-block;
    width: 160px;
    height: 50px;
    border: 1px linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) solid;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    position: absolute;
    left: 50px;
    top: 30px;
}
/*----------------------------------Banner-2-------------------------------*/
.banner-2 {
    padding: 50px;
}

.banner-content-1 {
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-top: 10px;
}

.banner-content-2 {
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.banner-2-img {
    position: relative;
    padding: 0px;
}

.banner-2-img-1 {
    width: 350px;
    height: 415px;
    background-color: #fff;
    border: 1px wheat solid;
    border-radius: 5px;
    position: absolute;
    left: 160px;
    top: 10px;
}

.banner-2-img-1 img {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 70px;
    top: 30px;
}

.banner-2-img-2 {
    width: 350px;
    height: 415px;
    background-color: #fff;
    border: 1px wheat solid;
    border-radius: 5px;
    position: absolute;
    left: 555px;
    top: 10px;
}

.banner-2-img-2 img {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 70px;
    top: 30px;
}

.banner-2-img-3 {
    width: 350px;
    height: 415px;
    background-color: #fff;
    border: 1px wheat solid;
    border-radius: 5px;
    position: absolute;
    right: 120px;
    top: 10px;
}

.banner-2-img-3 img {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 70px;
    top: 30px;
}

.banner-2-img-content-1 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 110px;
    left: 80px;
}

.banner-2-img-content-2 {
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 35px;
    line-height: 1.5;
    color: #1e3192;
    font-size: 16px;
}
/*-----------------------Banner-3-------------------------------*/
.banner-3 {
    margin-top: 470px;
    position: relative;
}

.banner-3-img img {
    width: 690px;
    height: 490px;
    border-radius: 15%;
    -moz-border-radius: 15%;
    -webkit-border-radius: 15%;
    position: absolute;
    top: 50px;
    left: -40px;
}

.banner-3-content {
    width: 720px;
    height: 600px;
    float: right;
    position: absolute;
    top: 0px;
    left: 720px;
}

.banner-3-content-1 {
    font-size: 20px;
    font-weight: bold;
    color: red;
    padding-top: 0px;
}

.banner-3-content-2 {
    font-size: 60px;
    font-weight: bold;
    color: black;
    padding-top: 10px;
}

.banner-3-content-3 {
    padding: 20px 0px;
    line-height: 1.5;
}

ul.banner-3-content-4 {
    padding-left: 0px;
    text-decoration: none;
    list-style: none;
}

ul.banner-3-content-4 li img {
    width: 30px;
    height: 30px;
}

.banner-3-content-5 {
    display: inline-block;
    width: 160px;
    height: 50px;
    border: 1px linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) solid;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin: 20px 0px;
}

.banner-3-content-5-button {
    color: white;
    text-decoration: none;
}
/*---------------------------Banner-4-------------------------*/
.banner-4 {
    height: 425px;
    background-image: url('./background-banner-4.png');
    margin-top: 1200px;
    position: relative;
    background-color: rgb(247, 235, 222);
}
/*------------------------Banner-5-------------------------*/
.banner-5{
    width: max;
    height: 680px;
    margin-top: 100px;

}
.banner-5-img img{
    width: 550px;
    height: 600px;
    float: right;
    padding-right: 150px;
    padding-top: 80px;
}
.banner-5-content{
    float: left;
    padding-left: 80px;
}
.banner-5-content-1{
    font-size: 23px;
    color: #f55f8d;
    font-weight: bold;
    padding-bottom: 10px;
}
.banner-5-content-2{
    font-size: 60px;
    color: #030303;
    font-weight: bold;
    padding-bottom: 30px;
}
.banner-5-block{
  width: 700px;
  height: 160px;
  position: relative;
}
.banner-5-block-1{
  width: 600px;
  height: 145px;
  border: 1px rgb(136, 108, 56) solid;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
}
.flaticon img{
    width: 80px;
    height: 96px;
    float: left;
    padding-top: 20px;
    padding-left: 50px;
}
.banner-5-block-1-right{
   float: right;
   padding-right: 150px;
   padding-top: 20px;
}
.banner-5-block-1-right-p1{
   font-size: 25px;
   color: #000;
   font-weight: bold;
}
.banner-5-block-1-right-p2{
  padding-top: 20px;
  line-height: 1.5;
  font-size: 16px;
}
.banner-5-block-2{
    width: 640px;
  height: 145px;
  border: 1px rgb(204, 167, 98) solid;
  border-radius: 7px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  top: 0px;
}
/*-------------------------------------Banner-6------------------------------------*/
.banner-6{
    width: max;
    height: 1070px;
    margin-top: 100px;
}
.banner-6-content-1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(167, 11, 89);
    text-align: center;
}
.banner-6-content-2{
    font-size: 60px;
    font-weight: bold;
    color: rgb(15, 15, 15);
    text-align: center;
    margin-bottom: 20px;
}
.banner-6-img-left{
    width: 55%;
    height: 1100px;
    float: left;
    position: relative;
}
.banner-6-img-left-row-1 img{
    width: 600px;
    height: 450px;
    position: absolute;
    right: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.banner-6-img-left-row-2-l img{
    width: 285px;
    height: 200px;
    position: absolute;
    top: 475px;
    left: 235px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.banner-6-img-left-row-2-r img{
    width: 285px;
    height: 200px;
    position: absolute;
    top: 475px;
    right: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.banner-6-img-left-row-3 img{
    width: 600px;
    height: 300px;
    position: absolute;
    bottom: 100px;
    right: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.banner-6-img-right{
    width: 38%;
    height: 1100px;
    float: right;
    margin-right: 50px;
}
.banner-6-img-right-row-1 img{
    width: 450px;
    height: 450px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.banner-6-img-right-row-2 img{
    width: 450px;
    height: 530px;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/*----------------------------Banner-7-----------------------*/
.banner-7{
    width: max;
    height: 700px;
    margin-top: 100px;
}
.banner-7-content-1{
    font-size: 25px;
    color: #f55f8d;
    text-align: center;
}
.banner-7-content-2{
    font-size: 70px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.banner-7-span{
   width: 250px;
   height: 50px;
   border: 1px linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) solid;
   background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
   position: relative;
   left: 580px;
   top: 10px;
   border-radius: 6px;
}
.banner-7-span-left{
    width: 115px;
    height: 40px;
    background-color: #fff;
    border: 1px #fff solid;
    position: absolute;
    left: 8px;
    top: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
}
.banner-7-span-right{
    width: 115px;
    height: 41px;
    position: absolute;
    right: 9px;
    top: 5px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 6px;
}

.banner-7-block-1{
    width: 300px;
    height: 599px;
    background-color: #fff;
    border: 1px rgb(136, 1, 1) solid;
    border-radius: 5px;
    position: relative;
    margin-left: 180px;
    margin-top: 50px;
}
.banner-7-block-1-content-1{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding-top: 20px;
}
.banner-7-block-1-content-2 img{
    width: 125px;
    height: 125px;
    position: absolute;
    left: 80px;
    top: 70px;
}
.banner-7-block-1-content-3{
    width: 200px;
    height: 80px;
    border-bottom: 1px rgb(92, 92, 94) solid;
    position: absolute;
    left: 45px;
    bottom: 300px;
}
.dola-1{
    font-size: 50px;
    font-weight: bold;
    color: #f8ae56;
    float: left;
}
.year-1{
    font-size: 25px;
    font-weight: bold;
    color: #0f0f0f;
    float: right;
    position: absolute;
    top: 30px;
    left: 80px;
}
.banner-7-block-1-content-4{
    position: absolute;
    top: 300px;
    left: 30px;
}
ul.banner-7-list{
    list-style: none;
    list-style-image: url('./banner-7-icon-\ mark-pink.png');
    line-height: 1.75;
    font-size: 18px;
}
.banner-7-block-1-content-5{
   width: 200px;
   height: 70px;
   position: absolute;
   left: 30px;
   bottom: 20px;
}
.banner-7-block-1-content-5-button{
    display: inline-block;
    width: 160px;
    height: 50px;
    border: 1px linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%) solid;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    position: absolute;
    left: 35px;
    bottom: 0px;
}
.banner-7-block-2{
    width: 310px;
    height: 600px;
    background-color: #fff;
    border: 1px rgb(136, 1, 1) solid;
    border-radius: 5px;
    position: relative;
    margin-left: 520px;
    margin-top: -600px;
    
}
.banner-7-block-3{
    width: 320px;
    height: 600px;
    background-color: #fff;
    border: 1px rgb(136, 1, 1) solid;
    border-radius: 5px;
    position: relative;
    margin-left: 870px;
    margin-top: -602px;
}
.banner-7-block-3-content-3{
    width: 200px;
    height: 80px;
    border-bottom: 1px rgb(92, 92, 94) solid;
    position: absolute;
    left: 45px;
    bottom: 300px;
}
.dola-3{
    font-size: 50px;
    font-weight: bold;
    color: #f8ae56;
    float: left;
}
.year-3{
    font-size: 25px;
    font-weight: bold;
    color: #0f0f0f;
    float: right;
    position: absolute;
    top: 30px;
    left: 115px;
}