.div-top{
    background-color: skyblue;
    border: 1px solid blue;
    height: 100px;
    position: relative;
}
.top-left{
    color: blue;
    float: left;
    text-align: center;
    line-height: 100px;
    padding-left: 20px;
}
.top-mid{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
    line-height: 65px;
    position: absolute;
    left: 85%;
    -ms-transform: translateX(-50%);
    transform: translateX(200px);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.top-right{
    color: black;
    float: right;
    text-align: center;
    line-height: 100px;
    padding-right: 25px;
}
.div-mid{
    height: 80px;
    border: 1px solid black;
    position: relative;
}
.mid-one{
    background-color: blue;
    line-height: 76px;
    border: solid blue;
    left: 0%;
    width: 25%;
    color: white;
}
.mid-two{
    background-color: white;
    line-height: 76px;
    border: solid black;
    position: absolute;
    top: 0%;
    left: 25%;
    width: 25%;
}
.mid-three{
    background-color: white;
    line-height: 76px;
    border: solid black;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 25%;
}
.mid-for{
    background-color: white;
    line-height: 76px;
    border: solid black;
    position: absolute;
    top: 0%;
    left: 75%;
    width: 375px;
}
.div-bottom{
    background-color: bisque;
    border: 1px solid sandybrown;
    height: 400px;
    position: relative;
}
.bottom-left{
    width: 500px;
    height: 400px;
    border: 1px solid sandybrown;
    background-color: rgb(150, 150, 135);
    overflow: scroll;
}
.type-one{
    height: 40px;
    width: 500px;
    border: 1px solid rgb(36, 16, 16);
    background-color: rgb(33, 51, 6);
    line-height: 40px;
    color: white;
}
.type-two{
    height: 40px;
    width: 499px;
    border: 1px solid rgb(37, 9, 9);
    background-color: rgb(149, 223, 39);
    line-height: 40px;
    color: white;
    text-indent: 20px;
}
.bottom-right{
    width: 1019px;
    height: 400px;
    border: 1px solid sandybrown;
    background-color: rgb(214, 214, 178);
    float: right;
    position: absolute;
    top: 0%;
    left: 499px;
}
.bottom-right-top{
    width: 900px;
    height: 100px;
    margin: 40px 60px 360px 60px;
    border: 2px solid rgb(37, 9, 9);
    position: relative;
}
.right-content{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 30px;
    border: 1px solid black;
    background-color: white;
    line-height: 75px;
    text-align: center;
}
.left-content1{
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 125px;
}
.left-content2{
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 125px;
}

.block-left{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-30%);
    left: 61px;
}
.top-text{
    height: 50%;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}
.bot-text{
    height: 49%;
    width: 350px;
    border: 1px solid black;
   
}
.content{
    padding-left: 10px;
}
.content1{
    padding-left: 10px;
    padding-top: 30px;
}
.block-right{
    width: 350px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-30%);
    left: 551px;
}
.content2{
    padding-left: 10px;
    padding-top: 25px;
}